/* .navbar{
  display: flex;
  height: 70px;
  background-color: brown;
  justify-content: space-between;
}
.navbar span{
  margin-top:20px ;
  margin-left: 150px;
}
.navbar .links{
  margin-right: 150px;
  display: flex;
  background-color: aqua;
}
.navbar .links a{
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}
.navbar .links a:hover{
  text-decoration: underline;
}

.Home{
  text-decoration: underline;
} */
